[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.12"
uvicorn = "==0.34.2"
pydantic = "==2.11.4"
psycopg = {extras = ["binary"], version = "==3.1.16"}
psycopg2-binary = "==2.9.10"
pydantic-settings = "==2.1.0"
python-jose = {extras = ["cryptography"], version = "==3.3.0"}
passlib = {extras = ["bcrypt"], version = "==1.7.4"}
bcrypt = "==3.2.0"
python-multipart = "==0.0.7"
python-dotenv = "==1.0.0"
pytest = "==7.4.4"
httpx = "==0.26.0"
asgi-lifespan = "==2.1.0"
tenacity = "==8.2.3"
uuid = "==1.30"
sqlalchemy = "==2.0.40"
alembic = "==1.15.2"
email-validator = "==2.2.0"
slowapi = "==0.1.9"
openai = "==1.78.0"
tiktoken = "*"
openai-agents = "*"

[dev-packages]

[requires]
python_version = "3.12"
